html { font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding: 1%;
}

html * { margin:0;}

body {
	height: 100%;
	color: #CFCCE3;
	background-color: #000040;
	margin: auto;
	max-width: 900px;
}

header { text-align: center;}
body.iframe { text-align: center;}
h2 {color: #CFCCE3;}
h2 span {color: #FF8C00;}

article {
	color: #888888;
	padding: 10px 30px;
	border: solid #FF8C00;
	border-width: 1px 0px;
}

.boxy {
	background-color: #000050;
	border: solid #000030 4px;
	padding: 5px;
	margin: 0 auto 10px;
}

p { color:#CFCCE3;}

ul, dl {
	border-top: solid #CFCCE3 1px;
	margin-top: 3px;
}

dt {
	color: #FF8C00;
	font-weight: bold;
	float: left;
	clear: left;
}

dd { margin-left: 40px;}

img#profile {
	float: right;
	width: 200px;
	border: solid #FF8C00 5px;
	border-radius: 8px;
	margin-top: 10px
}

a {
	color: #008B8B;
	font-weight: bold;
}

a#directResumeLink { display:none;}

footer { text-align: center;}

footer iframe {
	border-style: none;
	max-height: 3em;
}

footer img {
	height: 15px;
	float: right;
	margin-top: 2px;
}

div#overlay {
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 1000;
	background-color:rgba(0,0,0,0.7);
}

div#picDiv { margin: 0 auto;}