html {
    padding: 1%;
}

html * {
    margin: 0;
}

html,
* {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1 {
    margin-bottom: 5px;
}

body {
    color: #CFCCE3;
    background-color: #000040;
    margin: auto;
    font-size: 16px;
    line-height: 140%;
}

header {
    text-align: center;
}

body.iframe {
    text-align: center;
    padding: 0;
}

h2 {
    color: #CFCCE3;
}

h2 span {
    color: #FF8C00;
}

article {
    color: #888888;
    padding: 10px 30px;
    border: solid #FF8C00;
    border-width: 1px 0px;
    max-width: 800px;
    margin: 0 auto;
}

section {
    width: '804px';
}

p {
    color: #CFCCE3;
}

img#profile {
    width: 90%;
    border: solid #FF8C00 5px;
    border-radius: 8px;
}

@media screen and (max-width: 768px) {
    img#profile {
        display: none;
    }
}

a {
    color: #008B8B;
    font-weight: bold;
}

a#directResumeLink {
    display: none;
}

footer {
    text-align: center;
}

div#overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
}